@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(1, 13, 34);
    color: white;
    font-family: "Roboto", Helvetica, sans-serif;
}

/* header */
header {
    font-family: "Outfit", Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    font-size: 1.4rem;
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.branding > img {
    height: 2rem;
}

nav {
    display: flex;
    gap: 3rem;
}

.header-button {
    background-color: rgb(1, 13, 34);
    color: white;
    border: none;
    font-size: 1.4rem;
    padding: 0.5rem;
}

.header-button:hover {
    border-bottom: 3px solid orange;
}


/* home page */
.hero {
    font-family: "Outfit", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    height: 700px;
    background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 0.75rem;
}

.about {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}